@import "./variables.scss";
*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
html{
    font-size:62.5%;
    scroll-behavior: smooth;
}
.navbar{
    position:sticky;
    top:0px;
    //border:2px solid $white;
    background-color:$black-light;
    display:flex;
    z-index: 100;
    flex-wrap:wrap;
    align-content:flex-start;
    max-width:100%;
    padding: 0px 5%;
    margin:0px auto;
    .first-part{
        max-width:60%;
        display:flex;
        align-items:center;
        flex-grow:2;
        flex-shrink:1;
        .search-bar{
            width:30rem;
            height:45px;
        flex:5 5;}
        .logo .logo-img{
            height:80%;
        width:140px;
        }
    }  
    
    
    .nav-items{
          display:flex;
          flex-wrap:wrap;
          align-items:center;
          list-style: none;
          max-width:100%;
          
          margin-left:20px;
          justify-content:space-evenly;
          flex-grow:5;
          flex-shrink:1;
        
          
          li a{
              &:link, &:visited{
              @include style-link;
              color:$color-black;
              margin:1rem;
              padding:0.2em 0.5em;
             // border:1px solid $white;
              background:$col-dark;
              border-radius:4rem;
              font-size:1.6rem;}
              &:hover{
                  background-color: $col-medium;
                  box-shadow: 10px;
                  padding:0.2em 0.6em;
        
              }
          }
    }
}
.header{
    height:85vh;
    background-color:$black-light;
    background-image:linear-gradient(to right, #f37907bd,#161515e7), url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 

    .main-section{
        height:100%;
       padding:5%;
      // border:5px solid red;
       display:flex;
       flex-direction:row;
       flex-wrap:wrap;

       .main-first, .main-second{
         width:50%;
         //border:3px solid $white;
        }
        .main-first .align-content{
            h1{
                @include styled-heading;
                font-size:4rem;
            }
            h2{
                font-size:2rem;
                @include styled-heading;
            }
            p{
                font-size:1.6rem;
            }
            position:relative;
            top:50%;
            transform:translate(0,-50%);
            text-align:center;
            width:90%;
            margin:0 auto;
        }
        .main-second{
            position:relative;
            padding:1%;
           .picture{
                @include set-size;
                &:hover{
                    width:45%;
                    height:45%;
                    border:1% solid $col-dark;
                    z-index:5;
                }
            }
            .pic1{
                &:hover{
                    width:45%;
                    height:45%;
                    //border:1% solid $col-dark;
                    z-index:7;
                }
            }
            .pic2{
                position:absolute;
                top:30%;
                left:30%; 
            }
            .pic3{
            
                 position:absolute;
                 top:60%;
                 left:60%;

            }
        } 
    }
}
.best-selling-books{
    height:85vh;
    background-color:$col-medium;
    padding:5%;
    //border:3px solid blue;
    &-heading{
        //border:2px solid red;
        text-align: center;
        h2{
            font-size:3.2rem;
            @include styled-heading;
        }
        p{
            font-size:2rem;
        }  
    }
    
    .BestBooks{
        margin-top:3%;
        display:flex;
        //border:2px solid red;
        justify-content:space-evenly;
        .card{
           border:4px solid black;
           padding:1%;
           font-size:1.6rem;
           text-align:center;
           &-image{
              //border:2px solid rgb(238, 17, 172);
              height:225px;
              width:195px;
              position:relative;
              
              img{
                  height:150px;
                  width:130px;
                  position:absolute;
                  top:50%;
                  left:50%;
                  transform:translate(-50%,-50%);
              }
           }
        }
    }
}
